.titlebar {
  height: var(--title-bar-height);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: var(--side-width);
  right: 0;
}

.titlebar-button,
.titlebar-button-close,
.titlebar-button-pin {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
}

.titlebar-button-pin {
  background: #ccc;
}

.titlebar-button-pin:hover,
.titlebar-button:hover {
  background: #e2e2e2;
}

.titlebar-button-close:hover {
  background: #ff5f56;
}
